root = true

# Default settings
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript & JavaScript files (indentation and style)
[*.{ts,js}]
indent_style = space
indent_size = 4

# JSON files (indentation style and size)
[*.json]
indent_style = space
indent_size = 2

# Shell scripts, CSS, UI, Markdown, YAML files (indentation style and size)
[*.{sh,css,ui,md,yml,yaml}]
indent_style = space
indent_size = 2

# Markdown specific (to not trim trailing whitespace)
[*.md]
trim_trailing_whitespace = false
